html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* ==========================================================================
   My Styles
   ========================================================================== */
h1 {
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
}
h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: 14px;
}
.navbar-toggler {
    color: #fff;
    padding: 0;
    font-size: 30px;
    float: none;
    display: block;
    text-align: right;
    width: 100%;
}
.bg-gris {
    background: #f1f1f3;
}
.color-blue {
    color: #002464;
}
header {
    background-color: #002464;
    overflow: hidden;
}
.head-container {
    display: flex;
    justify-content: space-between;
}
.logo_header {
    display: block;
    line-height: 100%;
    margin: 0;
    text-transform: none;
}
.logo_header a {
    background: url("../img/logo-sprite.png") no-repeat scroll left top;
    display: block;
    float: left;
    height: 34px;
    text-indent: -999em;
    width: 200px;
}
.head-container nav {}
.head-container nav a {
    color: #fff;
    padding: 0 10px;
    display: inline-block;
    border-right: 1px solid #fff;
}
.head-container nav a:last-child {
    border-right: none;
}
.box_default {
    background: #f6f6f8;
    border: 1px solid #d2d2d4;
}
.box_white {
    background: #fff;
    border: 1px solid #d2d2d4;
}
.box_default .tit_box_default {
    color: #676769;
    border-bottom: 1px solid #d2d2d4;
}
ul.line_list,
ul.dots_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.line_list li,
ul.dots_list li  {
    position: relative;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 14px;
    color: #676769;
}
ul.line_list li:after {
    content: "";
    position: absolute;
    left: 0px;
    width: 5px;
    height: 2px;
    background: #ccc;
    top: 10px;
}
ul.dots_list li:after {
    content: "";
    position: absolute;
    left: 0px;
    width: 5px;
    height: 5px;
    background: #ccc;
    top: 10px;
    border-radius: 100%;
}
.table thead tr {
    background-color: #f6f6f6;
    font-weight: bold;
}
.table tbody tr {
    border-bottom: 1px solid #dee2e6;
}
.table .form-group .form-check-input {
    margin-left: 0;
}
.border-none {
    border: 0;
}